.byline {
  margin: 1rem;

  h2 {
    display: inline-block;
    margin: 0;
    font: {
      size: 1rem;
      weight: bold;
    }
  }

  &__persons {
    font-style: italic;
    margin-left: 0.375rem;
  }
}
