.image-carousel {
  max-width: 37.5rem;
  max-height: 37.5rem;
  overflow: hidden;
  position: relative;

  &__swiper {
    display: flex;
    overflow-x: visible;
    transition-property: transform;
    will-change: transform;
  }

  &__image {
    object-fit: contain;
  }

  &__back,
  &__next {
    display: flex;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 0;
  }

  &__back {
    left: 5px;
  }

  &__next {
    right: 5px;
  }
}
