.slide-indicator {
  &__mark {
    margin: 0 0.25rem;
    height: 0.75rem;
    width: 0.75rem;
    background-color: $color--grey-80;
    border-radius: 50%;
    display: inline-block;

    &--current {
      background-color: $color--green-540;
    }
  }
}
