@import "variables";

html,
body {
  margin: 0;
  padding: 0;
  background-color: #353535; // TODO variable

  font: {
    family: "Helvetica", sans-serif;
    size: 100%;
    color: $black;
  }
}

@import "../components/**/*.scss";
