// TODO invert lightness
$color--black: #000;
$color--grey-920: #e8e8e8;
$color--grey-970: #f9f9f9;

$color--green-540: #1ad1bd;

$grey: #e7e7e7;
$another-grey: #f6f5f6;
$yet-another-grey: #d9d9d9;
$dark-grey: #757575; // TODO make this grey and the other light grey
$white: #fff;

$gutter-padding: 1.625rem;

$icons: (
  add: "../../static/add.svg",
  search: "../../static/search.svg",
  download: "../../static/download.svg",
);
