.header {
    display: flex;
    height: 80px;
    width: 100%;
    max-width: 600px;
    background-color: #f9f9f9; // TODO variable
    margin: 0 auto;

    &__site-title {
        width: 100%;
        text-align: center;
    }
}
