.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  max-width: 61rem;
  margin: 0 auto;
  background-color: $color--grey-30;
  border-bottom: 1px solid $color--grey-80;
  position: sticky;
  top: 0;
  z-index: 100;

  @media screen and (min-width: 34rem) {
    position: static;
    border: none;
  }

  &__add-button {
    margin-left: 1rem;
  }

  &__search-button {
    margin-right: 1rem;
  }
}
