.header {
  display: flex;
  height: 80px;
  background-color: #f9f9f9; // TODO variable
  border-bottom: 1px solid #ededed;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  justify-content: space-between;

  &__site-title {
    text-align: center;
  }
}
