.icon {
  height: 2rem;
  width: 2rem;
  margin: 0 1rem;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;

  @each $name, $value in $icons {
    &--#{$name} {
      background-image: url($value);
    }
  }
}
