.comment-summary {
  margin: 1rem 1rem;
  a {
    color: $dark-grey;
    text-decoration: none;
  }
}

.comment-list {
  background-color: $another-grey;
  border: {
    top: 1px solid $yet-another-grey;
    bottom: 1px solid $yet-another-grey;
  }
  padding: $gutter-padding;
}

.comment {
  + .comment {
    margin-top: 1rem;
  }

  p {
    margin: 0;
  }

  &__author_image {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    float: left;
    margin-right: 1rem;
  }

  &__byline {
    display: flex;
    margin: 0;
    font-size: 1rem;
  }

  &__published {
    font-weight: normal;
    color: $dark-grey;
    font-size: 1rem;

    &:before {
      content: "\2013 ";
    }
  }
}
