@import '../../styles/variables';

.post-body {
    margin: 0.625rem;

    &__show-more {
        color: $dark-grey;
        text-decoration: none;

        &:hover, &:focus {
            text-decoration: underline;
        }
    }

    span {
        transition: visibility 0s, opacity 0.5s linear;
    }
}