.post-body {
  &__show-more {
    color: $dark-grey;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  span {
    transition: visibility 0s, opacity 0.5s linear;
  }
}
